body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.canvas-container {
  position: relative; /* Add this line */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
}


/* Game canvas */
#gameCanvas {
  border: 2px solid #000;
  background-color: #fff;
  position: relative;
}

/* Mario */
#marioImage {
  width: 50px;
  height: 70px;
  position: absolute;
}

/* Shell */
#shellImage {
  width: 30px;
  height: 30px;
  position: absolute;
}

/* Notification */
#notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  display: none;
}

