html,body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

h1 {
  font-family: 'Mario Jumps!', sans-serif;
  font-size: 50px;
  color: red;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.canvas-container {
  position: relative; /* Add this line */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
}


/* Game canvas */
#gameCanvas {
  border: 2px solid #000;
  background-color: #fff;
  position: center;
}

/* Mario */
#marioImage {
  width: 50px;
  height: 70px;
  position: absolute;
}

/* Shell */
#shellImage {
  width: 30px;
  height: 30px;
  position: absolute;
}

/* Notification */
#notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 24px;
  display: none;
}

